PORT = 3000
MONGODB_USER=candenizozder08_db_user
MONGODB_PASSWORD=wnmQlh7QNfCiOVCJ
MONGODB_URL=cluster0.w4mesct.mongodb.net
MONGODB_DB=contact

"mongodb+srv://candenizozder08_db_user:wnmQlh7QNfCiOVCJ@cluster0.w4mesct.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
